form#changePassword{
    background-color: white;
    padding:2em 3em;
    display: flex;
    flex-direction: column;
    margin-top:10em;
}

form#changePassword .field{
    margin:1em 0;
    display:flex;
}
form#changePassword .field >*{
}
form#changePassword .field label{
    width:40%;
}
form#changePassword .field input{
    width:40%;
    padding:.3em 1em;
    font-size:1.1rem;
    outline: none;
    border:1px solid rgb(223, 223, 223);
    letter-spacing: 2px;

}
form#changePassword  input[type="submit"]{
    padding:.7em 2em;
    font-size:1.1rem;
    background-color: rgb(8, 142, 219);
    border:none;
    color:white;
    opacity:.8;
    font-weight: bold;
    margin-top:3em;
    margin-left:auto;
}
form#changePassword  input[type="submit"]:hover{
    opacity:1;
    cursor:pointer;
}
form#changePassword  .field input:focus{
    border:1px solid rgb(17, 147, 223);
}

.message{
    margin-bottom:1em;
}

small.error{
    color:red;
}