{% extends 'ku_quora/base.html' %}

{% block title %}
ku-quora
{% endblock %}


{% block content %}
<div class="body-wrapper">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <span class = "message {{message.tags}}">{{message}}</span>
            {% endif %}
        {% endfor %}
     {% endif %}

        <div class="addQuestion-container">
            <div class="add-question">
                <div class="visible-part">
                    <div class="profile-info">
                        <img src="/media/{{user.profile.profile_pic}}" alt="">
                        <span class='username'>{{user.username}}</span>
                    </div>
                    <div class='text'>What is your question?</div>
                </div>
            </div>
            <div class="add-question-form" data-status = 'collapsed'>
                <form action="{% url 'create_post' %}" enctype="multipart/form-data"  method = 'POST' >
                    {% csrf_token %}
                    
                    <ul class="tips">
                        <h3>Tips on getting good answers quickly</h3>
                        <li>Ask question in a way everyone could understand.</li>
                        <li>Double check grammar and spelling</li>
                        <li>Keep your question short and to the point.</li>
                    </ul>
                    <input type="text" name='title' placeholder = "Title of your question" required>
                    <input type="text" name='tags' placeholder = "Eg: #egg #pen #book etc..." required>
                    
                    <textarea name="body" id="" rows = '10' placeholder = "start your question with what , who , when , where ....?"></textarea>
                    <label title = "Insert images" for="images">
                        <i class="fas fa-image"></i>
                        <i class="fas fa-plus"></i>
                    </label>
                    <input type="file" id = "images" name = 'image1' accept="image/png, image/gif, image/jpeg" onchange = "previewImage()" multiple>
                    <div class="button">
                        <input type="submit" value = 'Add Question'> 
                    </div>
                </form>
            </div> 
            <div class="previewImageContainer">

            </div>
            <i class="fa fa-angle-double-down animate-direction-down"></i>
            
        </div>
  
        <div class="sideBlock">
            <div class="joke-area">
                <button>get random joke</button>
                <i class="fas fa-spinner"></i>
                <div class="joke">
                    <div class="body">
                        <p class="setup"></p>
                        <p class="delivery"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post ">
            {% for post in posts %}
            {% include 'ku_quora/post_template.html' %}
            {% endfor %}
        </div>
   

<!-- <div class="box">
    <i class="fas fa-times"></i>
</div> -->

{% endblock %} 


